In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-05-20 02:44:17,-46.6000,168.3333,41.81,65,77,22.50
1,1,Itoman,JP,2022-05-20 02:44:18,26.1247,127.6694,77.02,96,75,17.27
2,2,Megion,RU,2022-05-20 02:44:19,61.0296,76.1136,50.02,83,99,15.05
3,3,Dukat,RU,2022-05-20 02:44:19,62.5500,155.5500,35.17,89,100,8.90
4,4,Moerai,PF,2022-05-20 02:44:20,-22.4333,-151.3333,77.40,73,9,8.66

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Itoman,JP,2022-05-20 02:44:18,26.1247,127.6694,77.02,96,75,17.27
4,4,Moerai,PF,2022-05-20 02:44:20,-22.4333,-151.3333,77.40,73,9,8.66
8,8,Meulaboh,ID,2022-05-20 02:44:21,4.1363,96.1285,83.05,71,100,2.82
10,10,Avarua,CK,2022-05-20 02:44:22,-21.2078,-159.7750,77.05,88,75,6.91
15,15,Takoradi,GH,2022-05-20 02:44:24,4.8845,-1.7554,79.18,85,53,6.93
18,18,Boyolangu,ID,2022-05-20 02:44:25,-8.1181,111.8935,82.53,78,97,4.70
29,29,Rikitea,PF,2022-05-20 02:44:30,-23.1203,-134.9692,76.06,79,100,9.98
37,37,Poum,NC,2022-05-20 02:44:33,-20.2333,164.0167,78.42,77,1,12.35
39,39,Hilo,US,2022-05-20 02:44:34,19.7297,-155.0900,80.33,84,100,12.66
41,41,Shihezi,CN,2022-05-20 02:44:35,44.3000,86.0333,75.79,37,100,9.08

In [23]:
preferred_cities_df.count()

City_ID       160
City          160
Country       160
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
1      Itoman      JP     77.02  26.1247  127.6694
4      Moerai      PF     77.40 -22.4333 -151.3333
8    Meulaboh      ID     83.05   4.1363   96.1285
10     Avarua      CK     77.05 -21.2078 -159.7750
15   Takoradi      GH     79.18   4.8845   -1.7554
18  Boyolangu      ID     82.53  -8.1181  111.8935
29    Rikitea      PF     76.06 -23.1203 -134.9692
37       Poum      NC     78.42 -20.2333  164.0167
39       Hilo      US     80.33  19.7297 -155.0900
41    Shihezi      CN     75.79  44.3000   86.0333

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Itoman,JP,77.02,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
4,Moerai,PF,77.40,-22.4333,-151.3333,Le Manotel
8,Meulaboh,ID,83.05,4.1363,96.1285,Kost Pria
10,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
15,Takoradi,GH,79.18,4.8845,-1.7554,Raybow International Hotel
18,Boyolangu,ID,82.53,-8.1181,111.8935,Yos ega cv
29,Rikitea,PF,76.06,-23.1203,-134.9692,People ThankYou
37,Poum,NC,78.42,-20.2333,164.0167,
39,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel
41,Shihezi,CN,75.79,44.3000,86.0333,Home Inn Shihezi Dongwu Road Century Square

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))