## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/luismendieta/tec/classwork/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Yakeshi,CN,2022-05-22 04:53:05,49.2833,120.7333,76.68,18,81,19.30,broken clouds
1,1,Butaritari,KI,2022-05-22 04:53:06,3.0707,172.7902,81.72,78,85,11.63,light rain
2,2,Moron,AR,2022-05-22 04:53:06,-34.6534,-58.6198,55.98,94,1,1.48,clear sky
3,3,Port Elizabeth,ZA,2022-05-22 04:53:07,-33.9180,25.5701,50.09,93,0,2.30,clear sky
4,4,Conceicao Do Araguaia,BR,2022-05-22 04:53:07,-8.2578,-49.2647,69.08,68,23,3.20,few clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Yakeshi,CN,2022-05-22 04:53:05,49.2833,120.7333,76.68,18,81,19.30,broken clouds
1,1,Butaritari,KI,2022-05-22 04:53:06,3.0707,172.7902,81.72,78,85,11.63,light rain
6,6,Rikitea,PF,2022-05-22 04:53:08,-23.1203,-134.9692,75.56,77,5,13.33,light rain
9,9,Tempe,US,2022-05-22 04:48:33,33.4148,-111.9093,85.21,25,0,5.75,clear sky
23,23,Alofi,NU,2022-05-22 04:50:35,-19.0595,-169.9187,78.69,83,22,3.44,few clouds
34,34,Tautira,PF,2022-05-22 04:53:18,-17.7333,-149.1500,79.75,72,23,10.76,few clouds
36,36,Taganak,PH,2022-05-22 04:53:19,6.0833,118.3000,86.14,75,100,12.82,overcast clouds
39,39,Vaini,TO,2022-05-22 04:53:20,-21.2000,-175.2000,80.76,74,40,6.91,scattered clouds
44,44,Port-Gentil,GA,2022-05-22 04:53:22,-0.7193,8.7815,77.76,82,100,11.39,overcast clouds
50,50,Kapaa,US,2022-05-22 04:54:25,22.0752,-159.3190,77.47,87,28,1.01,scattered clouds

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        203
City           203
Country        203
Date           203
Lat            203
Lng            203
Max Temp       203
Humidity       203
Cloudiness     203
Wind Speed     203
Description    203
dtype: int64

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Yakeshi,CN,2022-05-22 04:53:05,49.2833,120.7333,76.68,18,81,19.30,broken clouds
1,1,Butaritari,KI,2022-05-22 04:53:06,3.0707,172.7902,81.72,78,85,11.63,light rain
6,6,Rikitea,PF,2022-05-22 04:53:08,-23.1203,-134.9692,75.56,77,5,13.33,light rain
9,9,Tempe,US,2022-05-22 04:48:33,33.4148,-111.9093,85.21,25,0,5.75,clear sky
23,23,Alofi,NU,2022-05-22 04:50:35,-19.0595,-169.9187,78.69,83,22,3.44,few clouds

In [33]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Yakeshi,CN,76.68,broken clouds,49.2833,120.7333,
1,Butaritari,KI,81.72,light rain,3.0707,172.7902,
6,Rikitea,PF,75.56,light rain,-23.1203,-134.9692,
9,Tempe,US,85.21,clear sky,33.4148,-111.9093,
23,Alofi,NU,78.69,few clouds,-19.0595,-169.9187,
34,Tautira,PF,79.75,few clouds,-17.7333,-149.1500,
36,Taganak,PH,86.14,overcast clouds,6.0833,118.3000,
39,Vaini,TO,80.76,scattered clouds,-21.2000,-175.2000,
44,Port-Gentil,GA,77.76,overcast clouds,-0.7193,8.7815,
50,Kapaa,US,77.47,scattered clouds,22.0752,-159.3190,

In [34]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]
clean_hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Yakeshi,CN,76.68,broken clouds,49.2833,120.7333,Longhua Hotel
1,Butaritari,KI,81.72,light rain,3.0707,172.7902,Isles Sunset Lodge
6,Rikitea,PF,75.56,light rain,-23.1203,-134.9692,People ThankYou
9,Tempe,US,85.21,clear sky,33.4148,-111.9093,Holiday Inn Express & Suites Phoenix Tempe - U...
23,Alofi,NU,78.69,few clouds,-19.0595,-169.9187,Taloa Heights
34,Tautira,PF,79.75,few clouds,-17.7333,-149.1500,Pension Oaoa
36,Taganak,PH,86.14,overcast clouds,6.0833,118.3000,Taganak
39,Vaini,TO,80.76,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
44,Port-Gentil,GA,77.76,overcast clouds,-0.7193,8.7815,Fengshui Residence
50,Kapaa,US,77.47,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [46]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [66]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

In [68]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))